{% extends 'dashboard.html' %}

{% block content %}



<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>{{request.user}}</h1>

<table id="customers">
  <tr>
    <th>Company Name</th>
    <th>Job Title</th>
    <th>Location</th>
    <th>Created Time</th>
    <th>Qualification</th>
    <th>Company Logo</th>
    <th>Deadlin</th>
    <th>Action</th>
  </tr>
  {% for i in creator %}
  <tr>
    <td>{{i.company_name}}</td>
    <td>{{i.job_title}}</td>
    <td>{{i.job_location}}</td>
    <td>{{i.create_at}}</td>
    <td>{{i.qualification}}</td>
    <td><img src="/{{i.company_logo}}" alt="company_logo" height="60px" width="60px"></td>
    <td>{{i.deadline}}</td>
    
    <td>
        <a href="{% url 'jobIdCall' i.id %}">Edit</a>
        <a href="{% url 'deletejob' i.id %}" >Delete</a>
        <a href="{% url 'applicate' i.id %}">Applied</a>
    </td>
    
  </tr>
  {% endfor %}
 
</table>

</body>
</html>
{% endblock %}


